<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LẬP TRÌNH C CƠ BẢN</title>
  </head>
  <body>
    <h1>Chủ đề 2: Nhập môn ngôn ngữ lập trình C</h1>
    <h2>Video</h2>
    <p>Đang cập nhật ...
    <br>
    <h2>Bài giảng</h2>
    <h4>Cú pháp cơ bản</h4>
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/KmSvt1mmvdMAlm" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    <h4>Biến và kiểu</h4>
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/Jy60vgBDrv2iJf" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    <h4>Các phép toán</h4>
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/bqJh2R4YFIvNsz" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    <br>
    <h2>Bài tập</h2>
    <h3>Bài tập cơ bản 2.1 - Đọc vào và hiển thị giá trị của biến số nguyên</h3>
    <p>Viết chương trình đọc vào giá trị cho 2 biến số nguyên, biến x và biến y, dùng hàm scanf(). Tính và hiển thị ra màn hình thương (phần nguyên) và số dư của phép chia x cho y.</p>
    <pre>
    ./coban21
    Hay nhap vao 1 so nguyen： 5
    Hay nhap vao 1 so nguyen： 2
    5 chia nguyen cho 2 la 2 
    5 chia lay phan du cho 2 la 1
    </pre>
    <h3>Bài tập cơ bản 2.2 - Đọc vào và hiển thị giá trị của biến số thực</h3>
    <p>Viết chương trình đọc vào giá trị cho 2 biến số thực, biến x và biến y, dùng hàm scanf() với định dạng đọc vào là %lf. Tính và hiển thị ra màn hình tích x*y.</p>
    <pre>
    ./coban22
    Nhap vao 1 so thuc: 1.3
    Nhap vao 1 so thuc: 2.72
    Tich 1.30 va 2.72 là 3.536
    </pre>
    <h3>Bài tập cơ bản 2.3 - Đọc vào và hiển thị kí tự</h3>
    <p>Viết chương trình với kết quả thực hiện ở màn hình như dưới đây.</p>
    <pre>
    ./coban23
    Hay go vao chu cai dau tien cua thanh pho ban dang song: D
    Thanh pho ban dang song co ten bat dau la D
    </pre>
    <p>Để đọc kí tự từ bàn phím, dùng hàm scanf() với định dạng %c. Để hiển thị kí tự ra màn hình, dùng hàm printf() cũng với định dạng %c.</p>
    <h3>Bài tập cơ bản 2.4 - Tính toán và hiển thị kết quả</h3>
    <p>Tính và hiển thị các giá trị (nguyên, thực) của biểu thức sau:</p>
    <p>(683-119) * (8+21) / 41</p>
    <p>Yêu cầu: dùng 1 biến kiểu nguyên và 1 biến kiểu thực để lưu giá trị của biểu thức.</p>
    <pre>
    ./coban24
    Ket qua nguyen cua bieu thuc (683-119) * (8+21) / 41 la 398
    Ket qua thuc cua bieu thuc (683-119) * (8+21) / 41 la 398.926829
    </pre>
    <h3>Bài tập nâng cao 2.5 - Biến kiểu char</h3>
    <p>Biến kiểu char có giá trị nguyên tương ứng nằm trong phạm vi -128 đến 127. Đọc vào 1 kí tự, hãy xem kí tự này có ở ngoài phạm vi trên không. Nếu đọc vào -128 thì cộng 1, nếu đọc vào 127 thì cộng 1. Hiển thị kết quả ở dạng kí tự.</p>
    <p>Chú ý: viết chú thích vào dòng lệnh để chương trình dễ hiểu.</p>
    <p>Khi dịch chương trình, có thể sẽ có thông báo "this decimal constant is unsigned only in ISO C90." Trình biên dịch cảnh báo rằng ta đang dùng kí tự ở ngoài phạm vi</p>
    <h3>Bài tập nâng cao 2.6 - Sai số</h3>
    <p>Hãy viết chương trình theo yêu cầu sau: 
    <ul>
    <li>Khai báo 2 biến double num1 và num2. Gán 1 vào num1, gán 0 vào num2.</li>
    <li>Cộng 0.1 vào num1 mười lần. Mỗi lần viết 1 lệnh.</li>
    <li>Hãy hiển thị hiệu của num1 và num2, dùng định dạng %.23lf</li>
    </ul>
    <p>Hãy tìm hiểu để giải thích hiện tượng sai số trên.</p> 
  </body>
</html>