<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LẬP TRÌNH C CƠ BẢN</title>
  </head>
  <body>
  <h1>Bài tập lập trình</h1>
  <h2>P1.1</h2>
  <p> Viết chương trình in ra các mẫu sau. Sử dụng một hàm printf() cho mỗi dòng. Mỗi dòng kết thúc bởi chỉ thị newline (\n).</p>
<p>* * * * *      * * * * *    * * * * *</p>
<p> * * * * *     *       *     *     *</p>
<p>* * * * *      *       *      *   *</p>
<p> * * * * *     *       *       * *</p>
<p>* * * * *      * * * * *        *</p>
<p>   (a)            (b)          (c)</p>
<h2>P1.2</h2>
<p>In lại các mẫu trên chỉ sử dụng một lệnh printf().</p>
<h2>P1.3</h2>
<p>Viết một chương trình yêu cầu người dùng nhập vào 5 số nguyên sau đó tính tổng của chúng. Sử dụng năm biến int là integer1 đến integer5 để lưu năm số nguyên.</p>
<h2>P1.4</h2>
<p>Viết một chương trình yêu cầu người dùng nhập vào 5 số nguyên sau đó tính tích của chúng. Sử dụng chỉ một biến int là product để tính tích.</p>

  </body>
</html>
